<!DOCTYPE html>
<html lang="en">
<head>
  <title>English Conversation Partners</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
<script src="js/angular.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="questionsCtrl">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
    <div class="navbar-header">
		      <a class="navbar-brand" href="index.html">Home</a>
    </div>
     <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Discussion Topics<span class="caret"></span></a>
	         <ul class="dropdown-menu">
	           <li><a href="books.html">Books & Reading</a></li>
	           <li><a href="culture.html">Culture</a></li>
	           <li><a href="knowyou.html">Getting to Know You</a></li>
	           <li><a href="movies.html">Movies & TV</a></li>
	           <li><a href="music.html">Music</a></li>
	           <li><a href="sports.html">Sports</a></li>
	           <li><a href="travel.html">Travel</a></li>
	           <li><a href="games.html">Video Games</a></li>
	         </ul>
	       </li>
	       <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Fun and Games<span class="caret"></span></a>
	 	          <ul class="dropdown-menu">
	 	          	<li><a href="pictionary.html">Picture Taboo</a></li>
	 	            <li><a href="rather.html">Would You Rather?</a></li>
	            	<li><a href="twister.html">Tongue-Twisters</a></li>
	              </ul>
      </li>
      <li class="dropdown"><a href="trivia.html">Canadian Citizenship Practice Test</a></li>
     </ul>
  </div>
</nav>

<div class="container">
	  <div class="page-header">
    <h2>Picture Taboo</h2>
  </div>

<p><h4 ng-cloak>{{display}}</h4></p>
 	 <div class="col-md-5">
	  	 <div class="radio-inline" ng-model="radioSelect" ng-cloak ng-hide="radioQuestion">
	 	   <label><input type="radio" ng-model="radioSelect" value="Easy" name="optradio" ng-cloak>Easy</label>
	 	 </div>
	 	 <div class="radio-inline" ng-model="radioSelect" ng-cloak ng-hide="radioQuestion">
	 	   <label><input type="radio" ng-model="radioSelect" value="Medium" name="optradio"ng-cloak>Medium</label>
	 	 </div>
	 	 <div class="radio-inline" ng-model="radioSelect" ng-cloak ng-hide="radioQuestion">
	 	   <label><input type="radio" ng-model="radioSelect" value="Difficult" name="optradio"ng-cloak>Difficult</label>
	</div>


 	 <br>
	 <div>
	     <img ng-src="{{imgSrc}}" ng-hide="noQuestion">
	</div>
	<br>
	<div class="col-md-2 text-center">
  	<p><button ng-click="newQuestion()" ng-cloak class="btn btn-primary btn-lg" ng-hide="noQuestion">{{buttonText}}</button></p>
  	</div>

</div>
<script>
var app = angular.module('myApp', []);
app.controller('questionsCtrl', function($scope, $http) {
  $scope.imageArray = [];
  $scope.display = "Rules:";
  $scope.buttonText = "Let's play!";
  $http.get("images.json").then(function (response) {
      $scope.myData = response.data.records;
      angular.forEach($scope.myData, function (value, key) {
			$scope.imageArray.push(value);
	  });
  });
  $scope.newQuestion = function () {
		$scope.radioQuestion = true;
		if ($scope.imageArray.length >= 1)
		{
  			$scope.n = Math.floor((Math.random() * $scope.imageArray.length));
  			$scope.imgSrc = $scope.imageArray[$scope.n].Source;
  			if ($scope.radioSelect == "Easy")
			{
				$scope.display = "Banned words: " + $scope.imageArray[$scope.n].Easy;
			}
			if ($scope.radioSelect == "Medium")
			{
				$scope.display = "Banned words: " + $scope.imageArray[$scope.n].Easy + ", " + $scope.imageArray[$scope.n].Med;
			}
			if ($scope.radioSelect == "Difficult")
			{
				$scope.display = "Banned words: " + $scope.imageArray[$scope.n].Easy + ", " + $scope.imageArray[$scope.n].Med + ", " + $scope.imageArray[$scope.n].Hard;
			}
			$scope.buttonText = "Next picture";
  			$scope.imageArray.splice($scope.n, 1);
  		}
  		else
  		{
  			$scope.imgSrc = "";
  			$scope.display = "There are no more images.";
  			$scope.noQuestion = true;
  		}
	};
});
</script>
</body>
</html>