<!DOCTYPE html>
<html lang="en">
<head>
  <title>English Conversation Partners</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/angular-sanitize.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="questionsCtrl">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
    <div class="navbar-header">
		      <a class="navbar-brand" href="index.html">Home</a>
    </div>
     <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Discussion Topics<span class="caret"></span></a>
	         <ul class="dropdown-menu">
	           <li><a href="books.html">Books & Reading</a></li>
	           <li><a href="culture.html">Culture</a></li>
	           <li><a href="knowyou.html">Getting to Know You</a></li>
	           <li><a href="movies.html">Movies & TV</a></li>
	           <li><a href="music.html">Music</a></li>
	           <li><a href="sports.html">Sports</a></li>
	           <li><a href="travel.html">Travel</a></li>
	           <li><a href="games.html">Video Games</a></li>
	         </ul>
	       </li>
	             <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Fun and Games<span class="caret"></span></a>
		   	 	          <ul class="dropdown-menu">
		   	 	            <li><a href="rather.html">Would You Rather?</a></li>
		   	            	<li><a href="twister.html">Tongue-Twisters</a></li>
		   	              </ul>
		         </li>
		         <li class="dropdown"><a href="trivia.html">Canadian Citizenship Practice Test</a></li>
     </ul>
     </ul>
  </div>
</nav>

<div class="container">
	  <div class="page-header">
    <h2>Canadian Citizenship Quiz</h2>
  </div>

 	 <p><h4 ng-cloak ng-bind-html="display"></h4></p>
 	 <div class="col-md-5">
 	 <div class="radio" ng-model="radioSelect" ng-hide="radioQuestion">
	   <label><input type="radio" ng-model="radioSelect" ng-value="question1" name="optradio" ng-cloak>{{question1}}</label>
	 </div>
	 <div class="radio" ng-model="radioSelect" ng-hide="radioQuestion">
	   <label><input type="radio" ng-model="radioSelect" ng-value="question2" name="optradio"ng-cloak>{{question2}}</label>
	 </div>
	 <div class="radio" ng-model="radioSelect" ng-hide="radioQuestion">
	   <label><input type="radio" ng-model="radioSelect" ng-value="question3" name="optradio"ng-cloak>{{question3}}</label>
	</div>
	 <div class="radio" ng-model="radioSelect" ng-hide="radioQuestion">
	   <label><input type="radio" ng-model="radioSelect" ng-value="question4" name="optradio"ng-cloak>{{question4}}</label>
	</div>
		 <br>
	 <div class="col-md-2 text-center">
  	<p><button ng-click="newQuestion()" class="btn btn-primary btn-lg" ng-hide="noQuestion">{{buttonText}}</button></p>
  	</div>

</div>
<script>
var app = angular.module('myApp', ['ngSanitize']);
app.controller('questionsCtrl', function($scope, $http) {
  $scope.questionArray = [];
  $scope.display = "This is a practice citzenship test. The questions are drawn from the Discover Canada book used for the real test. <br><br> In order to pass you must answer at least 15 of the 20 questions correctly.<br><br> Good luck!";
  $scope.buttonText = "Let's play!";
  $scope.radioQuestion = true;
  $scope.questionFlag = true;
  $scope.questionLength = 1;
  $scope.correctScore = 0;
  $http.get("trivia.json").then(function (response) {
      $scope.myData = response.data.records;
      angular.forEach($scope.myData, function (value, key) {

      		$scope.questionArray.push(value);

      });
  });
  $scope.newQuestion = function () {

		if ($scope.questionArray.length >= 1 && $scope.questionFlag == false && $scope.questionLength <=20)
		  		{
		  			$scope.radioQuestion = true;

		  			if ($scope.questionArray[$scope.n].Answer == $scope.radioSelect)
		  				{
		  					$scope.display = "Correct";
		  					$scope.correctScore++;
		  				}
		  			else
		  			{
		  			$scope.display = "Incorrect. <br><br> The correct answer is: " + $scope.questionArray[$scope.n].Answer;
		  			}
		  			$scope.questionArray.splice($scope.n, 1);
		  			$scope.questionLength++;
		  			$scope.buttonText = "Next Question";


  		}
  		else if ($scope.questionArray.length >= 1 && $scope.questionFlag == true && $scope.questionLength <=20)
				{
					$scope.radioQuestion = false;
		  			$scope.n = Math.floor((Math.random() * $scope.questionArray.length));
		  			$scope.display = $scope.questionArray[$scope.n].Question;
		  			$scope.question1 = $scope.questionArray[$scope.n].A;
		  			$scope.question2 = $scope.questionArray[$scope.n].B;
		  			$scope.question3 = $scope.questionArray[$scope.n].C;
		  			$scope.question4 = $scope.questionArray[$scope.n].D;
		  			$scope.buttonText = "Check Answer";

  		}
  		else
  		{
  			$scope.display = "The test is complete! <br><br> Your score is: " + $scope.correctScore + "/20. <br><br> You need 15/20 or better to pass.";
  			$scope.noQuestion = true;
  			$scope.radioQuestion = true;
  		}

  		if ($scope.questionFlag == true)
  		{
  		$scope.questionFlag = false;
  		}
  		else
  		{
  		$scope.questionFlag = true;
  		}

	};
});
</script>
</body>
</html>